! rxvt-unicode FTW ! ——————————————————————————————————————————

URxvt*visualBell: true

! These fonts are in https://github.com/sharpsaw/unicode-dots
URxvt*font: xft:Liberation Mono:pixelsize=10,\
    xft:Code2000,\
    xft:Code2001,\
    xft:Code2002,\
    xft:Quivira:antialias=true:hinting=true
URxvt*letterSpace: -1

Xft.dpi: 86
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight

URxvt*secondaryWheel: true

! legit stuff (thanks cirwin!)
URxvt.perl-ext-common: default,selection-autotransform,matcher
! Remove trailing space (especially good for Alt+Select (block select))
URxvt.selection-autotransform.0: s|\\s*\\n|\\n|g
! git diffs
URxvt.selection-autotransform.1: s|^[ab]/||
! tmux sub-screens (due to a `tmux a` from a smaller terminal):
URxvt.selection-autotransform.2: s|\\s*│·*$||g
! And for tmux, when horizontal splits have the text right by the bar:
URxvt.selection-autotransform.3: s|^│||g
! Remove the trailing \n. It is a pain.
URxvt.selection-autotransform.4: s|\\n\\Z||

URxvt.matcher.button: 1
URxvt.urlLauncher: firefox

URxvt.depth: 32
URxvt.geometry: 90x30
URxvt.transparent: false
URxvt.fading: 0
! URxvt.urgentOnBell: true
URxvt.loginShell: true
URxvt.saveLines: 50
URxvt.internalBorder: 3
URxvt.lineSpace: 0

! Scrollbar
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false

! Cursor
URxvt.cursorBlink: true
URxvt.cursorColor: #657b83
URxvt.cursorUnderline: false

! Pointer
URxvt.pointerBlank: true

urxvt*foreground: #f2f2f2
urxvt*background: #101010

!black
URxvt*color0:      #000000
URxvt*color8:      #555753
!red
URxvt*color1:      #CC0000
URxvt*color9:      #EF2929
!green
URxvt*color2:      #4E9A06
URxvt*color10:     #8AE234
!yellow
URxvt*color3:      #C4A000
URxvt*color11:     #FCE94F
!blue
URxvt*color4:      #3465A4
URxvt*color12:     #729FCF
!magenta
URxvt*color5:      #75507B
URxvt*color13:     #AD7FA8
!cyan
URxvt*color6:      #06989A
URxvt*color14:     #34E2E2
!white
URxvt*color7:      #D3D7CF
URxvt*color15:     #ECEDEE

! xterm stuff —————————————————————————————————————————————————
xterm*metaSendsEscape: true

xterm*foreground: gray90
xterm*background: black

! http://jaymzworld.com/wiki/XTerm_double-click_word_selection
xterm*charClass: 33-126:48

xterm*Font: -misc-fixed-medium-r-semicondensed--13-*-*-*-*-*-iso10646-1
xterm*Font2: -efont-fixed-medium-r-normal-*-12-*-*-*-*-*-iso10646-1
xterm*Font3: -efont-fixed-medium-r-normal-*-14-*-*-*-*-*-iso10646-1
xterm*Font4: -efont-fixed-medium-r-normal-*-16-*-*-*-*-*-iso10646-1
xterm*Font5: -misc-fixed-medium-r-normal--18-*-*-*-*-*-iso10646-1
xterm*Font6: -efont-fixed-medium-r-normal-*-24-*-*-*-*-*-iso10646-1

#define RjkYellow #bbbb88
#define RjkBlue #3333bf
#define RjkGreen #19bf3a

xterm*color0:Grey20
xterm*color1:FireBrick
xterm*color2:RjkGreen
xterm*color3:RjkYellow
xterm*color4:RjkBlue
xterm*color5:Plum
xterm*color6:LightSkyBlue
xterm*color7:White
xterm*color8:Grey50
xterm*color9:Orange
xterm*color10:RjkGreen
xterm*color11:RjkYellow
xterm*color12:RjkBlue
xterm*color13:Plum
xterm*color14:LightSkyBlue
xterm*color15:White
xterm*colorBD:Orange
xterm*colorUL:PaleGreen

! Adding urxvt font-size changer:
! https://github.com/majutsushi/urxvt-font-size
URxvt.perl-ext-common: ...,font-size
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

