[Internet Explorer Troubleshooting]
row=3
col=0

[SampleCode_ROR]
row=0
col=0

[paypalapp]
row=4
col=0

[DCKAP_Samplecode.rar]
row=5
col=0

[Internet Explorer Troubleshooting.url]
row=0
col=1

[Skype]
row=1
col=0

[Skype.lnk]
row=2
col=0

[development.sqlite3]
row=6
col=0

